data/*
lightning_logs/
models/
__pycache__/
*.log

.ipynb_checkpoints/
.idea/wget-log
*.pth
*.ckpt
*.zip
*.tar
*.gz
*.whl
*.egg
*.h5
*.pt
*.pkl
*.json
*.csv
tiny-imagenet-200/
venv/
model_data.txt
nohup.out
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg
*.ico
*.bmp